.create {
    margin-left: 220px;
    display: flex;
    justify-content: center;
}

.create select{
    margin-top: 30px;
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    font-weight: 600;
}



/* Phones */
@media (max-width: 480px) {
    .create, .create-content {
        margin-left: 0px;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .create, .create-content {
        margin-left: 0px;
    }
}

@media (min-width: 800px) and (max-width: 915px) {
    
}
