.create {
    margin-left: 220px;
    display: flex;
    justify-content: center;
}

.create select{
    margin-top: 30px;
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    font-weight: 600;
}
