.facilityCardWrapper{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}


/* width */
.facilityCardWrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.facilityCardWrapper::-webkit-scrollbar-track {
    background: maroon;
}

/* Handle */
.facilityCardWrapper::-webkit-scrollbar-thumb {
    background: gold;
}

/* Handle on hover */
.facilityCardWrapper::-webkit-scrollbar-thumb:hover {
    background: #dcd800;
}

/* Phones */
@media (max-width: 480px) {
    .facilityCardWrapper::-webkit-scrollbar {
        display: none;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .facilityCardWrapper::-webkit-scrollbar {
        display: none;
    }
}
